<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/css/style.css" type="text/css" />
		<title>Devour that Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>

		{{!-- BOOTSTRAP CSS --}}
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

	</head>
	<body>
		{{{ body }}}
	</body>
</html>